<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=4, minimum-scale=1, user-scalable=yes" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>会议室申请</title>

    <!-- Bootstrap -->
    <link href="/reserve/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
    <link rel='stylesheet' href='/reserve/stylesheets/bootstrapValidator.min.css' />
    <link rel='stylesheet' href='/reserve/stylesheets/jquery-ui.css' />
    <link rel='stylesheet' href='/reserve/stylesheets/bootstrap-select.css' />
    <link rel='stylesheet' href='/reserve/stylesheets/bootstrapValidator.min.css' />
    <style type="text/css">
      h3{
        padding-top: 10px;
      }
      .apply_form{
        height: 30px;
        line-height: 30px;
      }
      hr{
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #d0a8a8;
        margin-top: 0px;
      }
      #ui-datepicker-div{
        display: none;
      }

      .bootstrap-select > .dropdown-toggle{
        width: auto;
      }
      .dropdown-menu > .open{
        width: auto;
      }
      .bootstrap-select.btn-group .dropdown-menu{
        min-width: 10%;
      }
      .to{
        width: 10px;
        font-size: medium;
        line-height: 34px;
        padding-left: 0px;
      }
      @media screen and (max-width: 769px) {
        #qrcode{
          height: 237px;
          width: 200px;
          text-align: center;
        }
        .apply_form{
          text-align: center;
        }
        .tooo{
          height: 34px;line-height: 34px;text-align: left;font-weight: bold;
        }
        .to{ 
            text-align: center;
            font-size: medium;
            line-height: 34px;
            width: 33.33333333%;
         }
         .timepick{
          margin-top: 5px;
         }
         .hideh3{
          display: none;
         }
      }
      @media screen and (min-width: 769px) {
      #qrcode{
        height: 296px;
        width: 250px;
        position: fixed;
        right: 1%;
        top: 20%
      }
        .apply_form{
          text-align: right;
        }
        .tooo{
          height: 34px;line-height: 34px;text-align: center;font-weight: bold;
        }
      }
      .note_email{
        display: none;
        text-align: left;
        vertical-align: middle;
        line-height: 32px;
        color:red;
      }

      
     
   
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/javascripts/html5shiv.min.js"></script>
      <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <img src="/reserve/images/szucsselogo.png" class="img-responsive" alt="Responsive image"/>
          
        </div>
        <div class="col-lg-3 col-md-3 cpol-sm-12 col-xs-12 "></div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 apply_form" ><h4><strong>会议室申请表</strong></h4></div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right" style="text-align: right;"><span style="line-height: 39px"><a href="/reserve/reserve/meeting">返回</a> | <a href="/reserve/manage/record">查询申请记录</a></span></div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><hr></div>
      </div>
      
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="room_name" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议室</label>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <select id="room_name" class="selectpicker" data-hide-disabled="true" data-live-search="false">
                  <% for(let i=0;i<data.length;i++) { %>
                    <option><%=data[i]%></option>
                  <% } %>
              </select>
          </div>
        </div>

        <div class="form-group">
          <label for="meeting_name" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议名称</label>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <input type="text" class="form-control" id="meeting_name" 
                 placeholder="请输入会议名称" name="meeting_name">
          </div>
        </div>

        <div class="form-group">
          <label for="meeting_num" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">参会人数</label>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <input type="text" class="form-control" id="meeting_num" 
                 placeholder="请输入人数" name="meeting_num">
          </div>
        </div>
        
        <div class="form-group">
          <label for="meeting_content" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议内容</label>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <textarea class="form-control" rows="3" id="meeting_content" placeholder="请输入会议内容" name="meeting_content"></textarea>
          </div>
        </div>
        
        
        <div class="form-group">
          <label for="apply_name" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">申请人</label>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <input type="text" class="form-control" id="apply_name" 
                 placeholder="请输入申请人" name="apply_name">
          </div>
        </div>

        <div class="form-group">
          <label for="fuzhilaoshi" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">负责老师</label>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <input type="text" class="form-control" id="fuzhilaoshi" 
                 placeholder="请输入负责老师(校外人员或者学生申请时请填写)" name="fuzhilaoshi">
          </div>
        </div>
        
        <div class="form-group">
          <label for="phone" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">联系电话</label>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <input type="text" class="form-control" id="apply_phone" 
                 placeholder="请输入手机号码" name="phone">
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">邮箱</label>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <input type="text" class="form-control" id="apply_email" data-tipso="dowebok"
                 placeholder="用于接收审批结果通知" name="email">
          </div>
        </div>
        
        <div class="form-group">
          <label for="meeting_date" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议日期</label>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <input type="text" class="form-control" id="meeting_date" name="">
          </div>
        </div>

        <!-- 尝试切割时间 -->
        <div class="form-group">
          <label for="shijianduan" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label" >会议时间段</label>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <select id="shijianduan" class="selectpicker" data-hide-disabled="true" data-live-search="false" >
              <option>上午</option>
              <option>中午</option>
              <option>下午</option>
              <option>晚上</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="meeting_time" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议时间</label>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-4">
            <select id="first_hour" class="selectpicker" data-hide-disabled="true" data-live-search="false">
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
            </select>
          </div> 
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-4">
            <select id="first_minute" class="selectpicker" data-hide-disabled="true" data-live-search="false">
              <option>00</option>
              <option>30</option>
            </select>
          </div> 
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 timepick tooo">To</div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-4 timepick" >
            <select id="second_hour" class="selectpicker" data-hide-disabled="true" data-live-search="false">
                <option>09</option>
                <option>10</option>
                <option>11</option>
            </select>
          </div> 
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-4 timepick" >
            <select id="second_minute" class="selectpicker" data-hide-disabled="true" data-live-search="false">
              <option>00</option>
              <option>30</option>
            </select>
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-lg-offset-5 col-md-offset-5 col-sm-offset-5  col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <button type="submit" class="btn btn-success" id="now-submit">提交</button>
          </div>
        </div>
      </form>

      <!-- <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <strong style="color: red;">备注：</strong>学生申请时请写上老师的名字;相关会议室审批请扫码入群查询；
        </div>
      </div> -->

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><hr></div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <img src="/reserve/images/qrcode.png" class="img-responsive center-block" alt="" title="会议室管理群" id="qrcode"/>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <address style="text-align: center;">2017 © 计算机与软件学院 </address>
        </div>
      </div>
</div>
    
        
    <script type="text/javascript" src='/reserve/javascripts/jquery-1.10.2.min.js'></script>
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
    <script type="text/javascript" src='/reserve/javascripts/bootstrap.min.js' ></script>
    <script type="text/javascript" src='/reserve/javascripts/jquery-ui-datepicker.js' ></script>
    <script type="text/javascript" src='/reserve/javascripts/moment.js' ></script>
    <script type="text/javascript" src='/reserve/javascripts/bootstrap-select.js' ></script>
    <script type="text/javascript" src='/reserve/javascripts/bootstrapValidator.min.js' ></script>
    <script type="text/javascript">
      jQuery.browser={};(function(){jQuery.browser.msie=false; 
      jQuery.browser.version=0;if(navigator.userAgent.match(/MSIE ([0-9]+)./)){ jQuery.browser.msie=true;jQuery.browser.version=RegExp.$1;}})();
      jQuery.fn.extend({
      });
    </script>

    <script type="text/javascript">
      function setCookie (name, value)
      { 
          //设置名称为name,值为value的Cookie
          var expdate = new Date();   //初始化时间
          expdate.setTime(expdate.getTime() + 24 * 7 * 60 * 60 * 1000);   //时间 one week
          document.cookie = name+"="+value+";expires="+expdate.toGMTString()+";path=http://qiandao.szu.edu.cn:81/reserve";
         //即document.cookie= name+"="+value+";path=/";   时间可以不要，但路径(path)必须要填写，因为JS的默认路径是当前页，如果不填，此cookie只在当前页面生效！~
      }
      function getCookie(c_name)
      {
        if (document.cookie.length>0)
        {
          c_start=document.cookie.indexOf(c_name + "=")
          console.log('check c_start-->',c_start)
          if (c_start!=-1)
          { 
            c_start=c_start + c_name.length+1 
            c_end=document.cookie.indexOf(";",c_start)
            if (c_end==-1) c_end=document.cookie.length
              console.log('check arg-->',unescape(document.cookie.substring(c_start,c_end)))
              return unescape(document.cookie.substring(c_start,c_end))
          } 
        }
        return ""
      }

      $(document).ready(function(){
        'use strict'
        console.log(document)
        let temp_apply_name = getCookie('apply_name'),
            temp_apply_phone = getCookie('apply_phone'),
            temp_apply_email = getCookie('apply_email'),
            temp_fuzhilaoshi = getCookie('fuzhilaoshi')

        $('#apply_name').val(temp_apply_name)
        $('#apply_phone').val(temp_apply_phone)
        $('#apply_email').val(temp_apply_email)
        $('#fuzhilaoshi').val(temp_apply_email)
        //动态改变时间段
        //$("#select_id").change(function(){//code...});
        $('#shijianduan').change(function(){
          'use strict'
          var temp_shijianduan = $('#shijianduan option:selected').val()
          console.log('temp_shijianduan-->',temp_shijianduan)
          if(temp_shijianduan == '上午'){
            console.log('上午')
              $("#first_hour option").remove()
              $("#first_hour").append("<option>"+'08'+"</option>");    
              $("#first_hour").append("<option>"+'09'+"</option>");
              $("#first_hour").append("<option>"+'10'+"</option>");
              $("#first_hour").append("<option>"+'11'+"</option>");
              $("#first_hour").selectpicker("refresh")

              $("#second_hour option").remove()
              //$("#second_hour").append("<option>"+'08'+"</option>");    
              $("#second_hour").append("<option>"+'09'+"</option>");
              $("#second_hour").append("<option>"+'10'+"</option>");
              $("#second_hour").append("<option>"+'11'+"</option>");
              $("#second_hour").selectpicker("refresh")
          }
          else if(temp_shijianduan == '中午'){
              console.log('中午')
              $("#first_hour option").remove()
              $("#first_hour").append("<option>"+'12'+"</option>");    
              $("#first_hour").append("<option>"+'13'+"</option>");
              $("#first_hour").append("<option>"+'14'+"</option>");
              $("#first_hour").selectpicker("refresh")

              $("#second_hour option").remove()
              //$("#second_hour").append("<option>"+'12'+"</option>");    
              $("#second_hour").append("<option>"+'13'+"</option>");
              $("#second_hour").append("<option>"+'14'+"</option>");
              $("#second_hour").selectpicker("refresh")
          }
          else if(temp_shijianduan == '下午'){
              console.log('下午')
              $("#first_hour option").remove()
              $("#first_hour").append("<option>"+'14'+"</option>");    
              $("#first_hour").append("<option>"+'15'+"</option>");
              $("#first_hour").append("<option>"+'16'+"</option>");
              $("#first_hour").append("<option>"+'17'+"</option>");
              $("#first_hour").selectpicker("refresh")

              $("#second_hour option").remove()
              //$("#second_hour").append("<option>"+'14'+"</option>");    
              $("#second_hour").append("<option>"+'15'+"</option>");
              $("#second_hour").append("<option>"+'16'+"</option>");
              $("#second_hour").append("<option>"+'17'+"</option>");
              $("#second_hour").selectpicker("refresh")
          }
          else{
            console.log('晚上')
            $("#first_hour option").remove()
              $("#first_hour").append("<option>"+'18'+"</option>");    
              $("#first_hour").append("<option>"+'19'+"</option>");
              $("#first_hour").append("<option>"+'20'+"</option>");
              $("#first_hour").append("<option>"+'21'+"</option>");
              $("#first_hour").selectpicker("refresh")

              $("#second_hour option").remove()
              //$("#second_hour").append("<option>"+'18'+"</option>");    
              $("#second_hour").append("<option>"+'19'+"</option>");
              $("#second_hour").append("<option>"+'20'+"</option>");
              $("#second_hour").append("<option>"+'21'+"</option>");
              $("#second_hour").selectpicker("refresh")
          }
        })
        //时间选择限制
        $('#first_hour').change(function(){
          let temp_time = $('#first_hour option:selected').val()
          console.log('first_hour-->',temp_time)
          $("#second_hour option").remove()
          if(parseInt(temp_time,10) == 21){
            $("#second_hour").append("<option>"+21+"</option>");  
          }else{
            for(let i=parseInt(temp_time,10)+1;i<=22;i++){
              let k = String(i)
              if(k.length < 2)
                k = '0' + k
              console.log('check k -->',k)
              $("#second_hour").append("<option>"+k+"</option>");  
            }
          }
           $("#second_hour").selectpicker("refresh")
       })//change
        
        //时间选择
        $('#meeting_date').datepicker({
           format: 'yyyy-mm-dd',
           minDate:0,
           maxDate:28
        });
        //初始化时间
        let date = moment().format('YYYY-MM-DD')
        $('#meeting_date').val(date)
        console.log('初始化时间',date)

        //表单验证
        $('form').bootstrapValidator({
  　　　　　　　message: 'This value is not valid',
                excluded : [':disabled'],//[':disabled', ':hidden', ':not(:visible)']
                submitButtons: 'button[type="submit"]',
                submitHandler: null,
              　feedbackIcons: {
                  　　　　　　　　valid: 'glyphicon glyphicon-ok',
                  　　　　　　　　invalid: 'glyphicon glyphicon-remove',
                  　　　　　　　　validating: 'glyphicon glyphicon-refresh'
              　　　　　　　　   },
                fields: {//(?!.*select)^.*$
                    meeting_name: {
                        message: '会议名称验证失败',
                        validators: {
                            notEmpty: {
                                message: '会议名称不能为空!'
                            }
                        }
                    },
                    meeting_num:{
                      message: '请输入人数',
                      validators:{
                        notEmpty: {
                            message: '人数不能为空!'
                        }
                      }
                    },
                    meeting_content:{
                      message: '请输入内容',
                      validators:{
                        notEmpty: {
                            message: '内容不能为空!'
                        }
                      }
                    },
                    apply_name:{
                      message: '请输入申请人姓名',
                      validators:{
                        notEmpty: {
                            message: '申请人姓名不能为空!'
                        }
                      }
                    },
                    fuzhilaoshi:{
                      message: '请输入对应负责老师姓名',
                      validators:{
                        notEmpty: {
                            message: '对应负责老师姓名不能为空!'
                        }
                      }
                    },
                    phone:{
                      message: '请输入手机号码',
                      validators:{
                        notEmpty: {
                            message: '手机号码不能为空!'
                        },
                        regexp: {
                              regexp: /^1(3|4|5|7|8)\d{9}$/,
                              message: '请输入正确的手机号'
                          }
                      }
                    },
                    email:{
                      message: '请输入邮箱',
                      validators:{
                        notEmpty: {
                            message: '邮箱不能为空!'
                        },
                         regexp: {
                              regexp: /^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/,
                              message: '请输入正确的邮箱地址'
                          }
                      }
                    }
                }
          }).on('success.form.bv', function(e) {
              //return false
              console.log(e)
              e.preventDefault();//防止自动提交
              
              let room_name = $('#room_name option:selected').val(),
                  meeting_name = $('#meeting_name').val(),
                  meeting_num = $('#meeting_num').val(),
                  meeting_content = $('#meeting_content').val(),
                  apply_name = $('#apply_name').val(),
                  fuzhilaoshi = $('#fuzhilaoshi').val(),
                  apply_phone = $('#apply_phone').val(),
                  meeting_date = $('#meeting_date').val(),
                  meeting_time = $('#meeting_time option:selected').val(),
                  apply_email = $('#apply_email').val(),
                  first_hour = $('#first_hour option:selected').val(),
                  first_minute = $('#first_minute option:selected').val(),
                  second_hour = $('#second_hour option:selected').val(),
                  second_minute = $('#second_minute option:selected').val()

              setCookie('apply_name',apply_name,7)
              setCookie('apply_phone',apply_phone,7)
              setCookie('apply_email',apply_email,7)
              setCookie('fuzhilaoshi',fuzhilaoshi,7)

              console.log('check args',room_name,meeting_name,meeting_num,meeting_content,apply_name,apply_phone,meeting_date,meeting_time)
              let meeting_date1 = meeting_date
              meeting_date = meeting_date.substring(5)
              console.log('meeting_date-->',meeting_date)
              let temp_meeting_date = meeting_date.split('-')
              meeting_date = temp_meeting_date[0] + '月' + temp_meeting_date[1] + '日'
              console.log('meeting_date-->',meeting_date)

              let exact_meeting_time = ''

              console.log('first_hour-->',first_hour,'first_minute-->',first_minute,'second_hour-->',second_hour,'second_minute-->',second_minute)
              if(first_hour == '08' || first_hour == '09' || first_hour == '10' || first_hour == '11'){
                meeting_time = '上午'
                exact_meeting_time = '上午' + first_hour + ':' + first_minute + '-' + second_hour + ':' + second_minute
              }
              if(first_hour == '12' || first_hour == '13' ){
                meeting_time = '中午'
                exact_meeting_time = '中午' + first_hour + ':' + first_minute + '-' + second_hour + ':' + second_minute
              }
              if(first_hour == '14' || first_hour == '15' || first_hour == '16' || first_hour == '17'){
                meeting_time = '下午'
                exact_meeting_time = '下午' + first_hour + ':' + first_minute + '-' + second_hour + ':' + second_minute
              }
              if(first_hour == '18' || first_hour == '19' || first_hour == '20' || first_hour == '21'){
                meeting_time = '晚上'
                exact_meeting_time = '晚上' + first_hour + ':' + first_minute + '-' + second_hour + ':' + second_minute
              }
              console.log('meeting_time-->',meeting_time)
              console.log('exact_meeting_time-->',exact_meeting_time)

              //提交
              $.ajax({
                url: '/reserve/manage/applyTwo', 
                async: true,
                dataType: 'json',
                type: 'POST',
                data: {
                 room_name:room_name,
                  meeting_name:meeting_name,
                  meeting_num:meeting_num,
                  meeting_content:meeting_content,
                  apply_name:apply_name,
                  apply_phone:apply_phone,
                  meeting_date:meeting_date,
                  meeting_time:meeting_time,
                  exact_meeting_time:exact_meeting_time,
                  apply_email:apply_email,
                  first_hour:first_hour,
                  first_minute:first_minute,
                  second_hour:second_hour,
                  second_minute:second_minute,
                  fuzhilaoshi:fuzhilaoshi,
                  meeting_date1:meeting_date1
                },

                success: function(result){
                  console.log('success')
                  console.log(result)
                  if(result.errCode == 0){
                    //弹出模态框
                    $('.result-modal').modal('show')
                    $('.modal-body').text('申请操作成功，请等待审批。')
                    //$('.modal-msg').attr('myid',result.result._id);
                    $('.modal-msg').attr('apply_name',apply_name);
                  }
                  if(result.errCode == -1){
                    //弹出模态框
                    $('.result-modal').modal('show')
                    $('.modal-body').text(result.errMsg)
                  }
                },
                error: function(e){
                  console.log("error");
              //console.error(e.message)
              $('.result-modal').modal('show')
              $('.modal-body').text('申请操作失败')
                },
            });
          });//on

        $('#success-btn').on("click",function(){
          //window.location.reload()
        })
        $('#check_record').on("click",function(){
          let apply_name = $('.modal-msg').attr('apply_name');
          console.log('apply_name-->',apply_name)
          window.location.href = '/reserve/manage/recordByName' + '?apply_name=' + apply_name
        })
        $(".modal-msg").on("hidden.bs.modal", function() {
              console.log('---- here ----')
            //$(this).removeData("bs.modal");
            $(".modal-body").children().remove();  
            console.log('----- clear modal window -----')
            //$(".modal-body").remove()
            //console.log('----- clear again -----')
        });
      });

  </script>
  <!-- 模态框 -->
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade modal-msg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="data-modal">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
        </div>
        <div class="modal-body">

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default sure" data-dismiss="modal">确定</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 申请结果模态框 -->
  <div class="modal fade result-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="result-modal">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">提交结果</h4>
        </div>
        <div class="modal-body">
        
        </div>
        <div class="modal-footer">
          <botton type="button" class="btn btn-default check_record" data-dismiss="modal" id="check_record">查询申请记录</botton>
          <button type="button" class="btn btn-success sure" data-dismiss="modal" id="success-btn">确定</button>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>