<!DOCTYPE html>
<html>
  <head>
    <title>add meeting rooms</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrapValidator.min.css' />
    <script type="text/javascript" src='/javascripts/jquery-1.10.2.min.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap.min.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrapValidator.min.js' ></script>
  </head>
  <body>
  	<div class="container">
		  <form>
			  <div class="form-group">
			    <label for="control-label">新增会议室</label>
			    <input name='room_name' type="text" class="form-control" placeholder="请输入会议室名称">
			  </div>
			  <button type="submit" name="submit" class="btn btn-primary">确认</button>
		</form>
	</div>
  </body>
  <script type="text/javascript">
  	$(function () {
        $('form').bootstrapValidator({
　　　　　　message: 'This value is not valid',
            feedbackIcons: {
                　　　　　　　　valid: 'glyphicon glyphicon-ok',
                　　　　　　　　invalid: 'glyphicon glyphicon-remove',
                　　　　　　　　validating: 'glyphicon glyphicon-refresh'
            　　　　　　　　},
            fields: {
                room_name: {
                    message: '会议室名称不能为空',
                    validators: {
                        notEmpty: {
                            message: '会议室名称不能为空'
                        }
                    }
                }
            }
        });
    });
  </script>
</html>
