<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrapValidator.min.css' />
    <script type="text/javascript" src='/javascripts/jquery-1.10.2.min.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap.min.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrapValidator.min.js' ></script>
    <style type="text/css">
		td{
			text-align: center;
		}

	    .red{ background-color: red; }
	    .blue{ background-color: rgb(226,235,254); }
	    .white{ background-color: white; }
    
    </style>
  </head>
  <body>
        <div class="container">
	      <div class="row">
	        <div class="col-md-5">
	          <img src="/images/szucsselogo.png" class="img-responsive" alt="Responsive image"/>
	          
	        </div>
	        <div class="col-md-5"><h3>会议室申请</h3></div>
	      </div>
	      <div class="row">
	        <div class="col-md-4 pull-right">管理申请</div>
	      </div>
	      
          
          <div class="row">
			<div class="col-md-4">
				会议室一周申请表
			</div>
			<div class="col-md-4">
				<a id="last-week">上周</a> | <a id="now-week">本周</a> | <a id="next-week">下周</a>
			</div>
			<div class="col-md-4">
				当前时间:<span id="showdate"></span>
			</div>
          </div>
			
		  <div class="row">
			<div class="table-responsive">
				<table class="table" id="monitor" border="1px">
					<tr id="date"> 
						<td class="blue" rowspan="2" width="100px">会议室</td>
						<td colspan="4"></td>  
						<td colspan="4"></td>  
						<td colspan="4"></td>  
						<td colspan="4"></td>  
						<td colspan="4"></td>  
						<td colspan="4"></td>  
						<td colspan="4"></td> 
					</tr>
					<tr>
						<% for (let i=0;i<7;i++){ %>
							<td>上午</td>
							<td>中午</td>
							<td>下午</td>
							<td>晚上</td>
						<% } %>
					</tr>
					<% for(let i=0;i<result.length;i++){ %>
						<tr>
							<% for(let k=0;k<result[i].length;k++) { %>
									<% if(result[i][k] == 2) { %>
										<td class="red"><%= result[i][k] %></td>
									<% } %>
									<% if(result[i][k] == 0) { %>
										<td class="white"><%= result[i][k] %></td>
									<% } %>
									<% if(result[i][k] == 1) { %>
										<td class="blue"><%= result[i][k] %></td>
									<% } %>
									<% if(result[i][k] != 0 && result[i][k] != 1 && result[i][k] != 2) { %>
										<td class="blue"><%= result[i][k] %></td>
									<% } %>
							<% } %>
						</tr>
					<% } %>
					<!-- <tr>
						<td>999</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						
					</tr> -->
				</table>
			</div>
		  </div>

	      <div class="row">
	        <hr>
	      </div>

	      <div class="row">
	        <div class="col-md-4 col-md-offset-4">
	          <address><p class="pull-right">©深圳大学 计算机与软件学院</p><p>©2017 </p></address>
	        </div>
	      </div>
	      <%console.log%>
	</div>

	<script>  
	window.onload = function(){     
      var cells = document.getElementById('date').getElementsByTagName('td');
      var clen = cells.length;
      var currentFirstDate;
      var formatDate = function(date){       
        var year = date.getFullYear()+'年';
        var month = (date.getMonth()+1)+'月';
        var day = date.getDate()+'日';
        var week = '('+['星期天','星期一','星期二','星期三','星期四','星期五','星期六'][date.getDay()]+')'; 
 
        return month+day+' '+week;
      };
      var addDate= function(date,n){    
        date.setDate(date.getDate()+n);    
        return date;
      };
      var setDate = function(date){       
        //var week = date.getDay()-2;
        //date = addDate(date,week*-1);
        currentFirstDate = new Date(date);
		showdate.innerHTML = currentFirstDate.getFullYear() + '年' + formatDate(currentFirstDate); //显示日期  
 
        for(var i = 1;i<clen;i++){         
          cells[i].innerHTML = formatDate(i==1 ? date : addDate(date,1));
        }        
      };       
      document.getElementById('last-week').onclick = function(){
        setDate(addDate(currentFirstDate,-7)); 
        //console.log(currentFirstDate)  
        //currentFirstDate = new Date()
      };       
      document.getElementById('next-week').onclick = function(){         
        setDate(addDate(currentFirstDate,7));
        //console.log(currentFirstDate) 
        //currentFirstDate = new Date()
      };  
      document.getElementById('now-week').onclick = function(){   
      	currentFirstDate = new Date()      
        setDate(addDate(currentFirstDate,0));
        //console.log(currentFirstDate) 
        
      }; 
      setDate(new Date());
    }
	</script>
  </body>
</html>
