<!DOCTYPE html>
<html>
  <head>
    <title>meeting</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrapValidator.min.css' />
    <script type="text/javascript" src='/javascripts/jquery-1.10.2.min.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap.min.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrapValidator.min.js' ></script>
  </head>
  <body>
    <div class="container">
		<div class="row">
			<div class="span6">
				<img src="/images/szucsselogo.png" class="img-responsive" alt="Responsive image"/>
			</div>
			<div class="span6">
				<p class="bg-info">会议室预定</p>
			</div>
		</div>
    </div>
  </body>
</html>
