<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>添加会议室</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrapValidator.min.css' /> -->
    <style type="text/css">
      body{
        padding-top: :50px;
        padding-bottom: 50px;
      }
      hr{
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #d0a8a8;
            margin-top: 10px;
          }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <img src="/images/szucsselogo.png" class="img-responsive" alt="Responsive image"/>
          
        </div>
        <div class="col-md-5"><h3>会议室申请系统</h3></div>
      </div>

      <div class="row">
        <div class="col-sm-2 col-sm-offset-1 shenpi"><h4>新增会议室</h4></div>
      </div>

      <div class="row">
        <div class="col-sm-7 col-sm-offset-1"><hr></div>
      </div>

      <div class="row">
        <!-- <div class="span3">
        </div> -->
        <div class="col-md-7 col-md-offset-1">
          <form class="form-inline">
              <div class="form-group">
                <label>请输入会议室名称:</label>
                <input type="text" class="form-control " id="room_name" placeholder="请输入会议室名称" /> 
                <span class="help-block"></span>
                <button class="btn btn-success col-md-offset-5" type="button">确认</button>
              </div>
          </form> 
        </div>
      </div>
   
      <div class="row">
        <div class="col-sm-7 col-sm-offset-1"><hr></div>
      </div>

      <div class="row">
          <div class="col-md-3 col-md-offset-3">
            <address><p class="pull-right">©深圳大学 计算机与软件学院</p><p>©2017 </p></address>
          </div>
      </div>
      </div>

      <!-- modal 弹出框 -->
      <!-- <button class="btn btn-primary" type="button">点击我</button> -->
      <div class="modal" id="success-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">添加会议室结果</h4>
              </div>
              <div class="modal-body">
                <p>成功！</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!-- <button type="button" class="btn btn-primary">保存</button> -->
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div>
      <div class="modal" id="existed-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">添加会议室结果</h4>
              </div>
              <div class="modal-body">
                <p>该会议室已存在！</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!-- <button type="button" class="btn btn-primary">保存</button> -->
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div>
      <div class="modal" id="notnull-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">提示</h4>
              </div>
              <div class="modal-body">
                <p>会议室编号不能为空！</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!-- <button type="button" class="btn btn-primary">保存</button> -->
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div>
        
    <!-- <script type="text/javascript" src='/javascripts/jquery-1.10.2.min.js'></script> -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src='/javascripts/bootstrap.min.js' ></script>
    <!-- <script type="text/javascript" src='/javascripts/bootstrapValidator.min.js' ></script> -->
    <script type="text/javascript">
    $(document).ready(function(){
        $('.btn-success').on("click",function(){
          var room_name = $('#room_name').val()
          if(!room_name){
            //alert('会议室编号或名称不能为空！')
            $("#notnull-modal").modal("toggle");
            return false
          }
          if(typeof room_name == 'undefined'){
            //alert('会议室编号或名称不能为空！')
            $("#notnull-modal").modal("toggle");
            return false
          }
          $.ajax({
            url: '/manage/add_meeting_room', 
            async: true,
            dataType: 'json',
            type: 'POST',
            data: {
              room_name:room_name
            },

            success: function(result){
              console.log(result)
              if(result.data == 1){
                //alert('该会议室已存在！')
                $("#existed-modal").modal("toggle");
                return false
                //window.location.reload()
              }else{
                //alert('添加成功！')
                $("#success-modal").modal("toggle");
              }
            },
            error: function(jqXHR , textStatus , errorThrown){
              console.log("error");
              console.error()
            },
           
          });
        });
      });
  </script>
  </body>
</html>

