<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>审批登录</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" >
    <link rel="stylesheet" href="/stylesheets/bootstrapValidator.min.css" >
    <style type="text/css">
        hr{
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #d0a8a8;
            margin-top: 0px;
          }
          .shenpi{
            margin-top: 15px;
          }
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/javascripts/html5shiv.min.js"></script>
      <script src="/javascripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <img src="/images/szucsselogo.png" class="img-responsive" alt="Responsive image"/>
          
        </div>
        <div class="col-md-5"><h3>会议室申请系统</h3></div>
      </div>

    <div class="row">
        <div class="col-sm-2 col-sm-offset-1 shenpi"><h4>审批登录</h4></div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-sm-offset-1"><hr></div>
    </div>

   <div class="row">
      <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-4">
            <input type="username" id="username" class="form-control" placeholder="请输入用户名" name="username">
            </div>
          </div>
      
          <div class="form-group">
            <label class="col-sm-2 control-label">密码</label>
            <div class="col-sm-4">
            <input type="password" id="password" class="form-control" placeholder="请输入密码" name="password">
            </div>
          </div>
      
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-success" id="now-submit">登录</button>
            </div>
          </div>
      </form>
       </div>
        
        <div class="row">
            <div class="col-sm-7 col-sm-offset-1"><hr></div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-2">
              <address><p class="pull-right">©深圳大学 计算机与软件学院</p><p>©2017 </p></address>
            </div>
          </div>
    </div>

    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
    /*$(document).ready(function(){
        var MyValidator = function() {  
            var handleSubmit = function() {  
                $('.form-horizontal').validate({  
                    errorElement : 'span',  
                    errorClass : 'help-block',  
                    focusInvalid : false,  
                    rules : {  
                        username : {  
                            required : true  
                        },  
                        password : {  
                            required : true  
                        }
                    },  
                    messages : {  
                        username : {  
                            required : "用户名不能为空"  
                        },  
                        password : {  
                            required : "密码不能为空"  
                        }
                    },  
          
                    highlight : function(element) {  
                        $(element).closest('.form-group').addClass('has-error');  
                    },  
          
                    success : function(label) {  
                        label.closest('.form-group').removeClass('has-error');  
                        label.remove();  
                    },  
          
                    errorPlacement : function(error, element) {  
                        element.parent('div').append(error);  
                    },  
          
                    submitHandler : function(form) {  
                        form.submit();  
                    }  
                });  
          
                $('.form-horizontal input').keypress(function(e) {  
                    if (e.which == 13) {  
                        if ($('.form-horizontal').validate().form()) {  
                            $('.form-horizontal').submit();  
                        }  
                        return false;  
                    }  
                });  
            }  
            return {  
                init : function() {  
                    handleSubmit();  
                }  
            };  
          
        }();  
        MyValidator.init();  
    })*/
    $(function(){ 
        $("#now-submit").click(function(){ 
            var username = $("#username").val();
            var password = $("#password").val();
            console.log('username && password is ',username,password)
            if(!username || username == null || typeof username == 'undefined'){
                $('.modal-msg').modal('show')
                $('.modal-body').text('用户名不能为空！')
                return false
            }
            if(!password || password == null || typeof password == 'undefined'){
                $('.modal-msg').modal('show')
                $('.modal-body').text('密码不能为空！')
                return false
            }
            //var data = {"username":username,"password":password};
            $.ajax({ 
                url:'/manage/login',
                async: true,
                dataType: 'json',
                type: 'POST',
                data: {"username":username,"password":password},
                success: function(result){ 
                    console.log('result is',result)
                    if(result.errCode == -1){
                        $('.modal-msg').modal('show')
                        $('.modal-body').text(result.errMsg)
                        //location.href = '/manage/login';
                        //location.href = '/manage/approve';
                    }
                    if(result.errCode == 0){
                        //alert('登录成功')
                        window.location.href = '/manage/approve'
                    }
                },
                error: function(e){
                    console.log('error ',e.message)
                    
                }
            });
        });
    });
    </script>
    <!-- Modal -->
    <div class="modal fade modal-msg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="data-modal">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
        </div>
        <div class="modal-body">

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default sure" data-dismiss="modal">确定</button>
        </div>
      </div>
    </div>
  </div>
</body>
</head>
</html>