<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>审批登录</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" media="screen">
    <style type="text/css">
   
    </style>
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <img src="/images/szucsselogo.png" class="img-responsive" alt="Responsive image"/>
          
        </div>
        <div class="col-md-5"><h3>会议室申请系统</h3></div>
      </div>

      <div class="row apply_form">
        <div class="col-md-4 col-md-offset-2"><strong>审批登录</strong></div>
      </div>


    </div>

    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(function(){ 
        $("#register0").click(function(){ 
            location.href = 'register';
        });
        $("#login0").click(function(){ 
            var username = $("#username").val();
            var password = $("#password").val();
            var data = {"uname":username,"upwd":password};
            $.ajax({ 
                url:'/login',
                type:'post',
                data: data,
                success: function(data,status){ 
                    if(status == 'success'){ 
                        location.href = 'home';
                    }
                },
                error: function(data,status){ 
                    if(status == 'error'){ 
                        location.href = 'login';
                    }
                }
            });
        });
    });
    </script>
</body>
</head>
</html>